.wrapper {
    display: conter;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: var(--default-layout-width);
   
}
.content {
    flex: 1;
    background-color: #ccc;
    min-height: 1000px;
}

